*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

main {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.title{
    text-transform: uppercase;
}

.button {
    text-transform: uppercase;
    font-weight: bolder;
    color: #fff;
    text-shadow: 0px 0px 5px #000000;
    border-radius: 10px;
    border: none;
    height: 30px;
    width: 120px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


button#red {
    background-color: red;
}

button#red:hover{
    background-color: rgb(128, 0, 0);
    transition: .5s;
}

button#yellow {
    background-color: yellow;
}

button#yellow:hover{
     background-color: rgb(126, 128, 2);
    transition: .5s;
}

button#green {
    background-color: green;
}

button#green:hover{
    background-color: rgb(1, 79, 1);
    transition: .5s;
}

button#automatic{
    background-color: #888;
}

button#automatic:hover{
    background-color: rgb(80, 79, 79);
    transition: .5s;
}